.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}
.status {
    width: 80px;
}
.status img {
    width: 100%;
    margin: 0.5em auto;
}
.btn {
    border: 1pt solid;
    border-radius: 0.5em;
    padding: 0.5em;
    text-align: center;
    font-size: 2rem;
}